#blank_area_0{
        position : absolute;
        height : 30.05464480874317%;
        width : 30.03003003003003%;
        top : 1.9975774134790527%;
        left : 1.9986686686686688%;
      }
#blank_area_1{
        position : absolute;
        height : 30.05464480874317%;
        width : 30.03003003003003%;
        top : 33.29690346083789%;
        left : 3.3983983983983985%;
      }
#blank_area_2{
        position : absolute;
        height : 30.05464480874317%;
        width : 30.03003003003003%;
        top : 20.012204007285973%;
        left : 35.42712712712712%;
      }
