#blank_area_0{
        position : absolute;
        height : 29.929577464788732%;
        width : 5.30697190426639%;
        top : 1.9953063380281688%;
        left : 1.9979188345473464%;
      }
#blank_area_1{
        position : absolute;
        height : 29.929577464788732%;
        width : 14.568158168574403%;
        top : 52.25352112676056%;
        left : 6.260842872008325%;
      }
