#blank_area_0{
        position : absolute;
        height : 30%;
        width : 29.968782518210197%;
        top : 1.995237142857143%;
        left : 1.9979188345473464%;
      }
#blank_area_1{
        position : absolute;
        height : 30%;
        width : 29.968782518210197%;
        top : 54.48571428571428%;
        left : 0%;
      }
