#blank_area_0{
        position : absolute;
        height : 30%;
        width : 30.22222222222222%;
        top : 1.9927521739130434%;
        left : 2%;
      }
#blank_area_1{
        position : absolute;
        height : 30%;
        width : 30.22222222222222%;
        top : 4.586956521739131%;
        left : 68.88888888888889%;
      }
