#blank_area_0{
        position : absolute;
        height : 30%;
        width : 29.968782518210197%;
        top : 1.9927521739130434%;
        left : 1.9979188345473464%;
      }
#blank_area_1{
        position : absolute;
        height : 30%;
        width : 29.968782518210197%;
        top : 49.27521739130435%;
        left : 1.371831425598335%;
      }
