#blank_area_0{
        position : absolute;
        height : 29.929577464788732%;
        width : 30%;
        top : 1.9953063380281688%;
        left : 2%;
      }
#blank_area_1{
        position : absolute;
        height : 29.929577464788732%;
        width : 30%;
        top : 2.341549295774648%;
        left : 62.71428571428571%;
      }
