#blank_area_0{
        position : absolute;
        height : 30%;
        width : 30.22222222222222%;
        top : 1.9927521739130434%;
        left : 2%;
      }
#blank_area_1{
        position : absolute;
        height : 30%;
        width : 30.22222222222222%;
        top : 11.529%;
        left : 67.33333333333333%;
      }
