#blank_area_0{
        position : absolute;
        height : 29.91735537190083%;
        width : 29.96845425867508%;
        top : 1.9972396694214876%;
        left : 1.999652996845426%;
      }
#blank_area_1{
        position : absolute;
        height : 29.91735537190083%;
        width : 29.96845425867508%;
        top : 50.87884297520662%;
        left : 7.679631966351209%;
      }
