#blank_area_0{
        position : absolute;
        height : 29.945553539019965%;
        width : 29.96845425867508%;
        top : 1.9963702359346642%;
        left : 1.999652996845426%;
      }
#blank_area_1{
        position : absolute;
        height : 29.945553539019965%;
        width : 29.96845425867508%;
        top : 28.46642468239564%;
        left : 26.510725552050474%;
      }
