#blank_area_0{
        position : absolute;
        height : 30.05464480874317%;
        width : 30.03003003003003%;
        top : 9.820892531876138%;
        left : 29.823123123123125%;
      }
#blank_area_1{
        position : absolute;
        height : 30.05464480874317%;
        width : 30.03003003003003%;
        top : 44.2136612021858%;
        left : 22.816116116116113%;
      }
#blank_area_2{
        position : absolute;
        height : 30.05464480874317%;
        width : 30.03003003003003%;
        top : 20.737704918032787%;
        left : 1.996996996996997%;
      }
